<!DOCTYPE html>
<html>
<head>
	<title>All Bands</title>
</head>
<body>
	<h1><%=@band.name%></h1>
	<p><%=@band.description%></p>
	<ul>
		<% @shows.each do |show| %>
			<li>
			<p><%=show.id%></p>
			<p><%=show.tickets%></p>
			<form action="/bookings" method="POST">
				<button>Add Your band to this show!</button>
			</form>
			</li>
		<%end%>
	</ul>
</body>
</html> 