<!DOCTYPE html>
<html>
<head>
	<title>All Bands</title>
</head>
<body>
	<form action="/bands/login" method="POST">
		<input type="text" name="username" placeholder="Band Name">
		<input type="password" name="password" placeholder="Enter your Password">
		<button>Log-In</button>
	</form>
	
	<form action="/bands/logout" method="GET">
		<button>Logout</button>
	</form>

	<h1>Bands:</h1>
	<ul class="list-group">

		<% @bands.each do |band| %>
			<li class="list-group-item-success">
				<a href="/bands/<%=band.id%>"><%=band.name%></a>
				<!-- <a href="/bands/<%=band.id%>/edit">Edit</a> this needs to be replaced by a spot on the nav bar!-->
			</li>
		<%end%>

	</ul>
