
	<form action="/bands/login" method="POST">
		<input type="text" name="username" placeholder="Band Name">
		<input type="password" name="password" placeholder="Enter your Password">
		<button>Log-In</button>
	</form>
	
	<form action="/bands/logout" method="GET">
		<button>Logout</button>
	</form>

	<h1>Bands:</h1>
	<ul>

		<% @bands.each do |band| %>
			<li>
				<a href="/bands/<%=band.id%>"><%=band.name%></a>
				<% if band.id == session[:id] %>
				<a href="/bands/<%=band.id%>/edit">Edit</a>
				<%end%>
			</li>
		<%end%>

	</ul>
