<!DOCTYPE html>
<html>
<head>
	<title>All Bands</title>
</head>
<body>
	<h1>Bands:</h1>
	<ul>

		<% @bands.each do %>
			<li>
				<a href="#"><%=@bands.name%></a>
			</li>
		<%end%>

	</ul>
</body>
</html>