<!DOCTYPE html>
<html>
<head>
	<title>All Bands</title>
</head>
<body>
	<form action="/bands/login" method="POST">
		<input type="text" name="username" placeholder="Band Name">
		<input type="password" name="password" placeholder="Enter your Password">
		<button>Log-In</button>
	</form>
	<h1>Bands:</h1>
	<ul>

		<% @bands.each do |band| %>
			<li>
				<a href="/bands/<%=band.id%>"><%=band.name%></a>
			</li>
		<%end%>

	</ul>
</body>
</html>