<!DOCTYPE html>
<html>
<head>
	<title>All Bands</title>
</head>
<body>
	<h1>Bands:</h1>
	<ul>
		<% for i in bands do%>
			<li>
				<a href="/bands/<%=[i]%>">bands[i].name</a>
			</li>
		<%end%>
	</ul>
</body>
</html> 