<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/bookings/deal" method="POST">
		<!-- we would like to be able to create a booking based on a selected band and selected show likely we will need to create a dropdown menu of all the bands and then another dropdown that would then display all the dates that band is playing -->
	</form>
</body>
</html>