
<!DOCTYPE html>
<html>
<head>
  <title>Item list</title>
</head>
<body>
 <h2>Show Index</h2>
  <ul>
    <% @shows.each do |show| %>
      <li>
          <%= show.id %>
          <%= show.date_time %>
          <%= show.tickets %> 
         </li>
    <% end %>
  </ul>

</body>
</html>  