<!DOCTYPE html>
<html>
    <head>
        <title>Show Stopper</title>
        <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    </head>
<body>

  <header>
    <nav>
      <a href="/shows">Show Index</a> | 
    </nav>

    <nav>
      <% if session[:logged_in] %>
        Logged in as <%= session[:bandname] %>
        <a href="/bands/logout">Log out</a>
        <a href="/shows/new">(Add a Show!)</a>
      <% else %>
        <a href="/bands/login">Log in</a> | 
        <a href="/bands/register">Register</a>
      <% end %>
    </nav>
  </header>

 <div> 

  <%= yield %>

 </div>

</body>
</html>