<!DOCTYPE html>
<html>
    <head>
        <title>Show Stopper</title>
        <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    </head>
<body>

  <header>
    <nav>
      <a href="/shows">Show Index</a> |
      <a href="/shows/new">(Add a Show!)</a> 
    </nav>
  </header>

 <div> 

  <%= yield %>

 </div>

</body>
</html>