
 <h2>Add your show here!</h2>
  <form action="/shows" method="POST">
  	<input type="number" name="show_id" placeholder="show_id" />
  	<input type="text" name="venue" placeholder="venue" />
    <input type="text" name="tickets" placeholder="Available?" />
    <input type="text" name="date_time" placeholder="yyyy, m, d, H, M, S" />
    <button>Add show!</button>
  </form>
