<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body>
	<h2>Register your band here</h2>
	<form action="/bands/register" method="POST">
		<input type="text" name="username" placeholder="Band Name Here">
		<input type="password" name="password" placeholder="Create a Password">
		<input type="text" name="description" placeholder="Add a short bio for your band here!">
		<button>Create Account</button>
	</form>

</body>
</html>