/* shwo index

<%# <a href="/shows/<%= show.id %>/edit">(Edit)</a> %>
<!--  <form action="/shows/<%= show.id %>" method="POST">
   <input type="hidden" name="_method" value="DELETE">
   <button>Delete</button>
 </form> --> */

 body {
    background-color: lightyellow;
  } 


header {
  text-emphasis-color: blue;
  text-decoration-color: green;

}
 